.header {
	padding: 50px 100px;
	text-align: center;
	background-color: #999;
	font-size: 32px;
	font-family: sans-serif;
	color: #FFF;
}

.main {
	padding: 50px 100px;
	background-color: greenyellow;
	font-size: 38px;
	color: #FFF;
	text-align: center;
	font-family: sans-serif;
}